/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    color: #000;
}

/* Top Bar */
.top-bar {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 20px;
}

.logo img {
    width: 50px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.souligner {
    text-decoration: underline !important;
    text-decoration-color: #d54434 !important;
}
  

/* CTA Section */
.cta {
    background-color: #d84530;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.cta p {
    margin-bottom: 20px;
    font-size: 18px;
}

.cta button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* Addresses Section */
.addresses-section {
    display: flex;
    padding: 50px 5%;
    background-color: #f7f7f7;
}

.addresses {
    flex: 1;
}

.addresses h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

.address-block1 {
    border-left: 2px solid #d84530;
    padding-left: 15px;
    margin-bottom: 30px;
}

.address-block {
    padding-left: 15px;
    margin-bottom: 30px;
}

.address-block h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.address-block p {
    font-size: 14px;
    line-height: 22px;
}

/* Map */

.map {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map img {
    width: 90%;
    max-width: 500px;
    height: auto;
}

.pin {
    transform: translate(-50px, -50);
    width: 10px;
    top: 300px;
    left: 300px;
    position: absolute;
    margin-left: 800px;
}

/* Contact Section */
.contact-us {
    text-align: center;
    padding: 40px 20px;
}

.contact-us h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: #d84530;
}

.contact-us p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.social-links {
    color: #f2f2f2;
    margin-left: 1050px;
    font-size: 20px;
}

strong {
    text-decoration: none !important;
}